<div *ngIf="album" class="album-box">
        
        <div id="album-head-card">
            <div class="image">
                <img src="{{ url + 'get-image-album/' + album.image }}" *ngIf="album.image && album.image!= 'null'" />
            </div>
            <div class="data">
                <h1>{{album.name}}</h1>
                <p>{{album.year}}</p>
                <p>{{album.description}}</p>
                
                <a *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/crear-tema', album._id]" class="btn btn-default">
                    Añadir cancion
                </a>
            </div>
        </div>
        
        <div class="clearfix"></div>
</div>